body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

.gridSquare {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}